{% extends 'base.html' %}

{% block content %}
<center>
<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% for field in form %}
    <p>
      {{ field.label_tag }}
      {{ field }}<br> <small style="color: grey">{{ field.help_text|safe }}</small><br>
    </p>
  {% endfor %}
    <button type="submit" class='button button1'>Submit</button>
    <button type="button" onclick="window.location.href='{% url 'add_book' %}' ">
</form>
</center>
{% endblock %}